{% extends 'base/layout.html' %}
{% load static %}


{% block htmltag %}ng-app='fireStop'{% endblock %}


{% block headscripts %}
<script type='text/javascript'>
    var SIGNUP_URL = '{% url "signup" %}';
    var PROFILE_URL = '{% url "post_pilot" %}';
</script>
{% endblock %}

{% block content %}
<div class="menu">  
    <div class="container clearfix">

        <div id="logo" class="grid_2">
            <a href="/"><img src="{% static "FireStop/images/logos/LB---Word.png" %}"></a>
        </div>

        <div id="nav" class="grid_10 omega">
            <ul class="navigation">
                <li><a href="/features">Features</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login" id="modaltrigger">Log In</a></li>  
                <li><a href="{% url "signup" %}" class="button_trial" id="decorative">Free Trial</a></li>
            </ul>
        </div>

    </div>
</div>


<div class="overlay">
  <div class="modal">
      <div class="modal-header">
          Firestop Demo
          <button type="button" class="close-modal">×</button>
      </div>

      <div class="modal-body">
          <div id="modal-input-group" ng-controller='PilotController as pilot'>
              <form name='pilot' novalidate ng-submit='submit_data()'>
                  <input required ng-model='data.first_name' type="text" class="modal-input" name="firstName" placeholder="First Name">
                  <p ng-show="pilot.firstName.$invalid && !pilot.firstName.$pristine"  class='error-message'>This field is required</p>
                  <input required ng-model='data.last_name' type="text" class="modal-input" name="lastName" placeholder="Last Name">
                  <p ng-show="pilot.lastName.$invalid && !pilot.lastName.$pristine"  class='error-message'>This field is required</p>
                  <input required ng-model='data.email' type="email" class="modal-input" name="email" placeholder="sample@email.com">
                  <p ng-show="pilot.email.$invalid && !pilot.email.$pristine"  class='error-message'>The email entered is not valid</p>
                  <input required ng-model='data.department' type="text" class="modal-input" name="department" placeholder="Department">
                  <p ng-show="pilot.department.$invalid && !pilot.department.$pristine"  class='error-message'>This field is required</p>
                  <input required ng-model='data.departmentSize' type="number" class="modal-input" name="departmentSize" placeholder="Department Size" min='0'>
                  <p ng-show="pilot.departmentSize.$invalid && !pilot.departmentSize.$pristine"  class='error-message'>A valid number is required</p>

                  <label>
                      <input ng-model='data.hasData' type="checkbox" class="modal-input" name="hasData" placeholder="Department">
                      Do you have any existing hydrant or building databases?
                  </label>
                  <input required ng-model='data.cadSoftware' type="text" class="modal-input" name="cadSoftware" placeholder="Which CAD software do you use?">
                  <p ng-show="pilot.cadSoftware.$invalid && !pilot.cadSoftware.$pristine"  class='error-message'>This field is required</p>

                  <label>
                      <input ng-model='data.cadMessaging' type="checkbox" class="modal-input" name="cadMessaging" placeholder="Department">
                      Does it support SMS or email paging?
                  </label>
                  <div>
                      <button id="submit-modal" class="submit-active">Let us know!</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>


<div id='signup_overlay' ng-controller='SignupController as signup'>
    <div class='container clearfix'>
        <h1>FireStop</h1>

        <p>
            The world's first end-to-end, cloud-based system that helps you <br>
            take your fire data from inspection all the way through to the fire ground.<br>
        </p>

        <form name='signup' class='header' novalidate ng-submit='submit_signup()'>
            {% csrf_token %}
            <div class="content">
                <input name='name' type='text' ng-model='data.name'  id="name" placeholder="Name"  class="input name input-xlarge" required />
            </div>
            <div class="content">
                <input ng-model="data.position" type="text" id="position" placeholder="Position" name="position" class="input name input-xlarge" required>
            </div>
            <div class="content">
                <input ng-model="data.department" type="text" id="department" placeholder="Department" name="department" class="input name input-xlarge" required>
            </div>
            <div class="content">
                <input ng-model="data.email" type="email" id="email" placeholder="Email" name="email" class="input name input-xlarge" required>
            </div>

            <div class="control-group">
                <div class="controls-login">
                    <div class="footer">
                        <input type="submit" name="submit" value="Signup" class="button">
                    </div>
                </div>
            </div>
        </form>

        <p>
            <a class='piloting_request' href=''>Interested in piloting FireStop? Let us know!</a>
        </p>
    </div>
</div>
{% endblock %}
